/* container */
body {
    text-align: center;
    box-sizing: border-box;
}
.container {
    margin: 0 auto;
    max-width: 960px;
    background-color: orange;
    /* display: flex; */
}

.grid {
    display:flex;
    text-align: center;
    min-height: 50vh;
    
}

#gridBox {
    width: 100%;
}

/* columns */
.grid > * {
    width:calc(100%);
    padding:1rem;
    text-orientation: upright;
}

.square {
    border: solid 1px black;
}
#s1 {

}

#s2 {

}

#s3 {

}

.score-area {
    /* min-height: 15vh; */
    background-color: lightcyan;
}

.mole {
    background-color: blue;
}