/* container */
body {
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    background-color: white;  
    /* margin: 0 15px; */
}

#header {
    display: flex;
}

.top-box{
    height: 100px;
    /* width: 33.333%; */
    border-radius: 5px;
    background-color: white;
    border: solid 1px black;
}

#eng-phrase-box, #time-container {
    width: 40%;
}

#score-container {
    width: 20%;
}

/* #time-container {
    width: 40%;
} */

.grid {
    text-align: center;
}


/* columns */
.grid > * {
    /* width:calc(100%); */
    /* padding:1rem; */
    text-orientation: upright;
}

.square {
    border: solid 1px black;
}

.score-area {
    background-color: lightcyan;
}

#bg {
    height: 100vh;
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url('../images/bavaria_001.jpg') repeat center center;
    background-size: 40vh;
    padding: 20px 20px 0 20px;
}

.mole {
    background-color: blue;
}